<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>title</key>
	<string>Weather Globe Default Scene</string>
	<key>root</key>
	<dict>
		<key>objectId</key>
		<integer>1</integer>
		<key>notes</key>
		<string>Root object!</string>
		<key>script</key>
		<string></string>
		<key>scale</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>children</key>
		<array>
			<dict>
				<key>objectId</key>
				<integer>3</integer>
				<key>notes</key>
				<string>Backing Sphere</string>
				<key>script</key>
				<string></string>
				<key>scale</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>renderable</key>
				<dict>
					<key>hidden</key>
					<false/>
					<key>shader</key>
					<string>SimpleRefract</string>
					<key>model</key>
					<string>WMSphere</string>
					<key>texture</key>
					<string>CameraInput</string>
				</dict>
				<key>children</key>
				<array/>
			</dict>
			<dict>
				<key>objectId</key>
				<integer>2</integer>
				<key>notes</key>
				<string>Particles</string>
				<key>script</key>
				<string></string>
				<key>scale</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>renderable</key>
				<dict>
					<key>hidden</key>
					<false/>
					<key>class</key>
					<string>WMParticleSystem</string>
					<key>shader</key>
					<string>SnowParticle</string>
					<key>texture</key>
					<string>SnowChunk.png</string>
				</dict>
				<key>children</key>
				<array/>
			</dict>
			<dict>
				<key>objectId</key>
				<integer>3</integer>
				<key>notes</key>
				<string>Reflection</string>
				<key>script</key>
				<string></string>
				<key>scale</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>renderable</key>
				<dict>
					<key>hidden</key>
					<false/>
					<key>shader</key>
					<string>CubeMapReflect</string>
					<key>model</key>
					<string>WMSphere</string>
					<key>texture</key>
					<string>env</string>
					<key>blendMode</key>
					<string>add</string>
				</dict>
				<key>children</key>
				<array/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
