<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>title</key>
	<string>Test Game Bundle</string>
	<key>models</key>
	<dict>
		<key>GeodesicSphere02</key>
		<dict>
			<key>scale</key>
			<string>0.1</string>
		</dict>
	</dict>
	<key>shaders</key>
	<dict>
		<key>DebugPositionOnly</key>
		<dict>
			<key>attributeNames</key>
			<array>
				<string>position</string>
			</array>
			<key>uniformNames</key>
			<array>
				<string>modelViewProjectionMatrix</string>
			</array>
		</dict>
		<key>DebugPositionTexture</key>
		<dict>
			<key>attributeNames</key>
			<array>
				<string>position</string>
				<string>textureCoordinate</string>
			</array>
			<key>uniformNames</key>
			<array>
				<string>modelViewProjectionMatrix</string>
				<string>texture</string>
			</array>
		</dict>
	</dict>
	<key>textures</key>
	<dict>
		<key>TestTexture.png</key>
		<dict/>
	</dict>
	<key>scenes</key>
	<dict>
		<key>scene</key>
		<dict/>
	</dict>
	<key>scripts</key>
	<dict>
		<key>DebugRotate</key>
		<dict/>
	</dict>
</dict>
</plist>
